<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>税优健康</title>
		 <!-- H5页面窗口自动调整到设备宽度，并禁止用户缩放页面 -->
    	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    	<!-- 忽略IOS将页面中的数字识别为电话号码 -->
    	<meta name="format-detection" content="telephone=no" />
    	<!-- 忽略Android平台中对邮箱地址的识别 -->
    	<meta name="format-detection" content="email=no" />
    	<link rel="stylesheet" href="../../css/base.css" />
    	<link rel="stylesheet" type="text/css" href="../../css/header.css"/>
    	<link rel="stylesheet" href="../../css/defence/defence.css">
    	<script type="text/javascript" src="../../js/jquery-1.10.2.js"></script>
    	<script src="../../js/defence/defence.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<input type="hidden" name="price"  value="￥<span>30000</span>" />
		<header>
			<div class="tax">
				<div class="tax-left"><img></div>
				<div class="tax-right">
					<span class="tax-right-health">税优健康</span>
					<span class="tax-right-txt">"防、治、保"——体的综合健康保险</span>
				</div>
			</div>
		</header>
		<div class="clear01"></div>
		<div class="maintittle">
			<div class="left">
				<div id="num"><h2>1</h2></div>
				<h3 id="tittledet">综合健康管理服务</h3>
				<div class="right">
					<h1>防</h1>
				</div>
				
			</div>
		</div>
		
		<div id="container">
			<div class="item">
				<div class="left">
				<img src="../../images/4.1.png"/>
				<h3>健康咨询</h3>
			</div>
			<div class="left">
				<img src="../../images/4.2.png"/>
				<h3>寻医导诊</h3>
			</div>
			</div>
			<div class="item det">
				<div class="left">
				<img src="../../images/4.3.png"/>
				<h3>牙科保健</h3>
				<h5>交至2015年8月即可享受</h5>
			</div>
			<div class="left">
				<img src="../../images/4.4.png"/>
				<h3>健康档案</h3>
				<h5>交至2015年9月即可享受</h5>
			</div>
			</div>
			<div class="item det">
				<div class="left">
				<img src="../../images/4.5.png"/>
				<h3>中药调理</h3>
				<h5>交至2015年8月即可享受</h5>
			</div>
			<div class="left">
				<img src="../../images/4.6.png"/>
				<h3>体检安排</h3>
				<h5>交至2015年9月即可享受</h5>
			</div>
			</div>
			
			
			
		</div>
		<div class="dail"align="center">
			<h3><img src="../../images/4.7.png" />立即使用</h3>
		</div>
		
		<div class="dialogbackground"></div>
		
		<div id="dialog" align="center">
			<div id="msg">
				<h4>将拨通健康管理服务机构电话4006233558？</h5>
			</div>
			<div id="cancel"><h3>取消</h3></div>
			<div id="ok"><h3>确定</h3></div>
		</div>
	</body>
</html>
<script type="text/javascript" src="../../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../../js/valueInsert.js" ></script>
<script type="text/javascript" src="../../js/treat/treat.js" ></script>
